{% extends base_template %}


{% block check_link_breadcrumb %}
    {{ super() }}
    <li class="active">
        {{ _("Global") }}
    </li>
{% endblock %}


{% block check_link_content %}
    <div class="content-actions">
        <ul class="list-unstyled">
            {% block check_link_actions %}
                {% block check_link_action_download_csv %}
                    <li>
                        <a class="btn btn-primary" href="{{ h.remove_url_param("format", null, "csv") }}">
                            {{ _("Download file CSV") }}
                        </a>
                    </li>
                {% endblock check_link_action_download_csv %}
            {% endblock check_link_actions %}
        </ul>
    </div>

    <div class="check-link-reports">
        {% for report in page %}
            <div class="check-link-reports--item">
                {% include "check_link/snippets/report_item.html" %}
            </div>
        {% else %}
            <p class="text-center text-muted">
                {{ _("Pada saat ini belum tersedia report") }}
            </p>
        {% endfor %}
    </div>
    {% block check_link_pagination %}
        {{ page.pager() }}
    {% endblock %}
{% endblock check_link_content %}



{% block check_link_help_text %}
    {% trans %}
    <p>
        Ikhtisar singkat tentang status link resource dalam portal SDI saat ini.
    </p>

    <p>
        Kemungkinan keadaannya adalah:

        <dl>
            <dt>Unknown</dt>
            <dd>Link belum diperiksa</dd>

            <dt>Available</dt>
            <dd>Link tersedia</dd>

            <dt>Moved</dt>
            <dd>Link berisi pengalihan ke URL yang berbeda</dd>

            <dt>Missing</dt>
            <dd>Link menunjuk ke halaman yang tidak ada</dd>

            <dt>Protected</dt>
            <dd>Link mengarah ke laman yang memerlukan autentikasi</dd>

            <dt>Invalid</dt>
            <dd>Link menunjuk ke lokasi yang ada, namun permintaan ditolak</dd>

            <dt>Error</dt>
            <dd>Link tidak dapat diperiksa karena berbentuk surat atau menunjuk ke lokasi yang tidak ada</dd>
        </dl>
    </p>
    {% endtrans %}

{% endblock check_link_help_text %}
